{% extends "base.html" %}
{% block nav %}
  <nav>
    <ul>
      {% for nav_page in NAV_MENU %}
      {% if nav_page.url == "writing.html" %}
      <li class="active"><mark><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}">{{ nav_page.title }}</a></mark></li>
      {% else %}
      <li><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}">{{ nav_page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock nav %}
{% block content %}
  <h2 id="title">{{ this.title }}</h2>
  <p class="metadata"><time datetime="{{ article.date|strftime("%Y-%m-%d") }}">{{ article.locale_date }}</time> | {% for tag in article.tags %} <a class="tag" href="{{ SITEURL }}/{{tag.url}}">#{{ tag.name.split(" ")|join("-") }}</a>{% endfor %}</p>
  {{ this.content }}
{% endblock content %}
{% block footer %}
<footer>
  {% if (not this.no_footer) or (this.copyright) %}<hr>{% endif %}
  {% if not this.no_footer %}
  {% if this.footer %}
  <p>{{ this.footer }}</p>
  {% else %}
  <p>If you enjoyed this post, please share it with a friend. If you'd like to share your thoughts or feedback, don't hestitate to <a href="mailto:daturkel@gmail.com">drop me a line</a>.</p>
  {% endif %}
  {% endif %}
  {% if this.copyright %}
  <p>© 2021 Dan Turkel</p>
  {% endif %}
</footer>
{% endblock footer %}
