<!DOCTYPE html>
<html lang="en">
{% if article %}
  {% set this = article %}
{% elif page %}
  {% set this = page %}
{% else %}
  {% set this = None %}
{% endif %}
<head>
  {% block head %}
    {% block title %}
    {% if this.title %}
    <title>{{ this.title }} - {{ SITENAME }}</title>
    {% else %}
    <title>{{ SITENAME }}</title>
    {% endif %}
  {% endblock title %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="{{ this.summary|striptags }}">
  <link rel="canonical" href="{{ SITEURL }}{% if this.url %}/{{ this.url }}{% endif %}" />
  <link rel="icon" href="/favicon-32x32.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  {% block social %}
    {% if article and article.social_image %}
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ article.social_image }}">
    <meta property="og:image" content="{{ article.social_image }}">
    {% else %}
    <meta property="twitter:card" content="summary" />
    {% endif %}
    <meta property="og:site_name" content="Dan Turkel dot com" />
    <meta property="og:title" content="{{this.title}}" />
    {% if article and article.date %}
    <meta property="article:published_time" content="{{ article.date }}" />
    {% endif%}
    <meta name="twitter:creator" content="@daturkel" />
    {% if article and article.summary %}
    <meta name="twitter:description" content="{{ article.summary|striptags }}" />
    <meta property="og:description" content="{{ article.summary|striptags }}" />
    {% else %}
    <meta name="twitter:description" content="The personal site of Dan Turkel."/>
    <meta property="og:description" content="The personal site of Dan Turkel." />
    {% endif%} 
  {% endblock social %}
  {% assets "stylesheet" %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  <link type="application/atom+xml" rel="alternate" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="Dan Turkel (dot) com" />
  <link rel="webmention" href="https://webmention.io/danturkel.com/webmention" />
  <link rel="pingback" href="https://webmention.io/danturkel.com/xmlrpc" />
  <script defer data-domain="danturkel.com" src="//pl.danturkel.workers.dev/js/script.js"></script>
  {% block math %}{% if this.math == 'true' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="renderMathInElement(document.body, {delimiters: [ {left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false},]});"></script>{% endif %}
  {% endblock math %}
  {% endblock head %}
</head>
<body>
  <header class="grid">
    <section class="main-menu">
    <h1><a href="{{ SITEURL }}/">Dan Turkel</a></h1>
    {% block nav %}
    <nav>
      <ul>
        {% for nav_page in NAV_MENU %}
        {% if nav_page.url == this.url %}
        <li class="active"><mark><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}" {% if nav_page.rel_me %}rel="me"{% endif %}>{{ nav_page.title }}</a></mark></li>
        {% else %}
        <li><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}" {% if nav_page.rel_me %}rel="me"{% endif %}>{{ nav_page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endblock nav %}
    </section>
  </header>
  <main class="grid">
    {% block content %}
      {% block page_title %}
        {% if this.title %}
        <h2>{{ this.title }}</h2>
        {% endif %}
        {% endblock page_title %}
        {% block page_subtitle %}
        {% endblock page_subtitle %}
      {{ this.content }}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
  </main>
</body>
</html>
