{% from "macros.html" import image %}

{% extends "list.html" %}
{% block posts %}
  {% for article in articles %}
  {% if article.template == "photo_article" %}
<li>
  <a class="post" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
  <p class="metadata"><time datetime="{{ article.date|strftime("%Y-%m-%d") }}">{{ article.locale_date }}</time></p>
  <a href="{{ SITEURL }}/{{ article.url }}">{{ image(SITEURL + article.date|strftime("/%Y/%m/%d/") + article.lead_image) }}</a>
</li>
  {% endif %}
  {% endfor %}

{% endblock posts %}
