{% extends "list.html" %}
{% block title %}<title>{{ tag|title }} - {{ SITENAME }}</title>{% endblock title %}
{% block nav %}
  <nav>
    <ul>
      {% for nav_page in NAV_MENU %}
      {% if nav_page.url == "writing.html" %}
      <li class="active"><mark><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}">{{ nav_page.title }}</a></mark></li>
      {% else %}
      <li><a href="{% if not nav_page.ext %}{{ SITEURL }}/{% endif %}{{ nav_page.url }}">{{ nav_page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock nav %}
{% block content %}
  <h2>Posts tagged #{{ tag.name.split(" ")|join("-") }}</h2>
  {{ super() }}
{% endblock content %}
