      <div class="columns">
        <div class="column is-two-thirds is-hidden-mobile is-hidden-tablet-only">
        </div>
        <div class="column">
          <div class="content foot">
          </div>
        </div>
      </div>
    </div> <!-- end container -->
    @@if (this.gallery === true) {
    <script>
      baguetteBox.run('.baguette-gallery', {
        captions: false,
        noScrollbars: true,
        async: true,
        preload: 3,
        animation: false,
      });
    </script>
    }
  </body>
</html>
