/*
---------------
_theme.scss
---------------
*/

* {
  text-decoration-skip-ink: auto;
}

a {
  color: $link-color;
  text-decoration: none;
  &:active {
    outline: none;
  }
  &:hover {
    text-decoration: underline;
    color: $link-color-dark;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  a {
    @include reverse-link;
  }
}

mark {
  @include highlight();
}

code {
  /* from tango.css */
  @include highlight(#f8f8f8);
  color: #000000;
}

:is(h1, h2, h3, h4, h5, h6) {
  & + :is(h1, h2, h3, h4, h5, h6) {
    // remove lots of extra space btween adjacent headings
    margin-top: 0;
  }
}

img {
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #000000;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* classes */

.image {
  img {
    display: block;
  }
  p {
    font-size: $small-size;
    margin-top: 0.25rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  margin-bottom: 0.5rem;
}

.highlight { 
  // code blocks should have a small bottom margin
  margin-bottom: 0.75rem;
  border-radius: $border-radius; 
  pre { 
    font-size: 0.75rem; 
    overflow-x: auto; 
    padding: 1.25rem 1.5rem;
    white-space: pre; 
    word-wrap: normal; 
    line-height: 1.5;
    margin-bottom: 0;
  }
  code {
    background: unset;
    color: unset;
    padding: 0;
  }
}

ol.posts {
  list-style: none;
  padding: 0;
  a.post {
    font-size: $h5-size;
    margin-bottom: 0.25rem;
    @include reverse-link;
    font-weight: bold;
  }
}

// Used on article titles
h2#title {
  margin-bottom: 0.25rem; 
}

p.metadata {
  color: $light-text;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: $small-size;
}

// match the normal margin-bottom of an h2
h2#title + p.metadata {
  margin-bottom: 1.05rem;
}

div.youtube-container {
  div.youtube {
    margin: 0;
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    object, iframe, embed {
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
    }
  }
  p {
    font-size: $small-size;
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  margin-bottom: 0.5rem;
}
