/*
---------------
_theme.scss
---------------
*/

* {
  text-decoration-skip-ink: auto;
}

/// one day
/// https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179
/// p {
///   -webkit-hyphens: auto;
///   -webkit-hyphenate-limit-before: 3;
///   -webkit-hyphenate-limit-after: 3;
///   -webkit-hyphenate-limit-chars: 6 3 3;
///   -webkit-hyphenate-limit-lines: 2;
///   -webkit-hyphenate-limit-last: always;
///   -webkit-hyphenate-limit-zone: 8%;
///   -moz-hyphens: auto;
///   -moz-hyphenate-limit-chars: 6 3 3;
///   -moz-hyphenate-limit-lines: 2;
///   -moz-hyphenate-limit-last: always;
///   -moz-hyphenate-limit-zone: 8%;
///   -ms-hyphens: auto;
///   -ms-hyphenate-limit-chars: 6 3 3;
///   -ms-hyphenate-limit-lines: 2;
///   -ms-hyphenate-limit-last: always;
///   -ms-hyphenate-limit-zone: 8%;
///   hyphens: auto;
///   hyphenate-limit-chars: 6 3 3;
///   hyphenate-limit-lines: 2;
///   hyphenate-limit-last: always;
///   hyphenate-limit-zone: 8%;
/// }

a {
  color: $link-color;
  text-decoration: none;
  &:focus, &:active {
    outline: none;
  }
  &:hover {
    text-decoration: underline;
    color: $link-color-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    @include reverse-link;
  }
}

mark {
  @include highlight();
}

code {
  /* from tango.css */
  @include highlight(#f8f8f8);
  color: #000000;
}
/* don't let the above override actual syntax highlighting */
.highlight {
  code {
    background: unset;
    color: unset;
    padding: 0;
  }
}

main .highlight {
  // code blocks should have a small bottom margin
  margin-bottom: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    // remove lots of extra space btween adjacent headings
    margin-top: 0;
  }
}

img {
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #000000;
}

/* classes */

.image {
  img {
    display: block;
  }
  p {
    font-size: $small-size;
    margin-top: 0.25rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  margin-bottom: 0.5rem;
}

.highlight { 
  border-radius: $border-radius; 
  pre { 
    font-size: 0.75rem; 
    overflow-x: auto; 
    padding: 1.25rem 1.5rem;
    white-space: pre; 
    word-wrap: normal; 
    line-height: 1.5;
    margin-bottom: 0;
  }
}

ol.posts {
  list-style: none;
  padding: 0;
  a.post {
    font-size: $h5-size;
    margin-bottom: 0.25rem;
    @include reverse-link;
    font-weight: bold;
  }
}

// Used on article titles
h2#title {
  margin-bottom: 0.25rem; 
}

// match the normal margin-bottom of an h2
h2#title + p.metadata {
  margin-bottom: 1.05rem;
}


p.metadata {
  color: $light-text;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.metadata {
  font-size: $small-size;
}

div.youtube-container {
  div.youtube {
    margin: 0;
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    object, iframe, embed {
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
    }
  }
  p {
    font-size: $small-size;
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  margin-bottom: 0.5rem;
}
