/*
---------------
_variables.scss
---------------
*/

/// layout-related
$container-margin-top: 2em;
$container-margin-side: 1em;
$main-width: 42em;
$nested-list-padding: 1em;
$header-margin: 4em;

/// theme-related
$link-color: #0074D9;
$link-color-dark: darken($link-color, 15%);
$highlight-color: #f5ff00;
$border-radius: 5px;
$light-text: #686868;
$mark-padding: 2px 3px;

// see _type_scale.scss
$line-height: 1.65;
$h1-size: 1.802em;
$h2-size: 1.602em;
$h3-size: 1.424em;
$h4-size: 1.266em;
$h5-size: 1.125em;
$small-size: 0.889em;
